/* styles for all */
body {
  font: 22px Helvetica;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
}

h2, h3, h4, h5 {
  font-weight: bold;
}
h2 {
  font-size: 1.6em;
  margin-bottom: 15px;
}
h3 {
  font-size: 1.33em
}
h5 {
  font-size: 0.8em;
}

.shift {
  position: relative;
  top: 70px;
  display: flex;
}

/* header stuff */
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  background-color: black;
}

header img {
  height: 50px;
  margin-left: 10px;
}

nav {
  margin-right: 10px;
}

nav span {
  margin-left: 20px;
}

/* mission stuff */
#mission {
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background: url("../../resources/images/img-mission-background.jpg");
}
 .blurb {
   background-color: black;
   height: 15%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }

 /* featured stuff */
#featured {
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  margin: 80px auto;
}
#featured h2, #featured h4 {
  width: 100%;
}

.featurette img {
  width: 300px;
  height: 200px;
  padding: 15px;
}

/* locations stuff */
#locations {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("../../resources/images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  padding: 35px 0;
}

#locations h2 {
  width: 100%;
}

.place {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 1;
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 0 20px;
}

/* footer stuff */
footer {
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

footer * {
  margin-bottom: 40px;
}

.copy {
  text-align: left;
}
